<!DOCTYPE html>
<html>
<head>
    <title>Twitter Producer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://instahyre-2.s3-ap-south-1.amazonaws.com/media/CACHE/images/images/office-photos/base/1133/5ba5099ab3/Sigmoid/d251a461639d6176076d20459df1f67d.png');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

    </style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <!--  <div class="w3-display w3-padding-large w3-large">-->
    <!--    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRllzT3h0lkhBGsGkw5ljZbjU6ManGtL3cTwQ&usqp=CAU" width="150" height="60">-->
    <!--    </div>-->
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        Let's talk data
    </div>

    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-center w3-animate-top">Twitter Producer</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center">Twitter Producer gets data from Twitter based on some keywords and puts them in a
            Kafka topic, and then consumes with streaming service and sink into some database then creates an API
            service to get required data from the database server.</p>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">

        Powered by <a href="https://www.sigmoid.com/" target="_blank">Sigmoid</a>

    </div>
</div>

</body>
</html>
